.main-block {
	background-color: $light-blue;
	min-height: 700px;
	z-index: -2;
	&__container {
		position: relative;
	}
	&__body {
		padding: 202px 0px 145px 0px;
		position: relative;
		z-index: 8;
		max-width: 576px;
	}
	&__title {
		line-height: calc(72 / 64 * 100%);
		letter-spacing: -2px;
		font-size: 64px;
		font-weight: 600;
		color: $dark-blue;
	}
	&__text {
		line-height: calc(30 / 18 * 100%);
		font-size: 18px;
		font-weight: 500;
		color: $gray;
		padding: 13px 0 0 0;
	}
	&__buttons {
		display: flex;
		text-align: center;
		line-height: 150%;
		text-transform: capitalize;
		padding: 32px 0px 0px 0px;
		margin: -10px 0;
	}
	&__first-button {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		background-color: #f58a07;
		border-radius: 27px;
		min-height: 54px;
		padding: 5px 32px;
		margin: 10px 0;
	}
	&__second-button {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $dark-blue;
		margin: 0px 0px 0px 40px;
	}
	&__experience {
		padding: 56px 0px 0px 0px;
		line-height: 30px;
		font-size: 18px;
		font-weight: 400;
		color: $light-gray;
	}
	&__companies {
		display: inline-flex;
		align-items: center;
		color: #4a5d69;
		padding: 18px 0px 0px 0px;
		&_first-company {
			display: inline-flex;
			align-items: center;
			padding: 0px 45px 0px 0px;
		}
		&_first-company img:first-child {
			padding: 0px 7px 0px 0px;
		}
		&_second-company {
			display: inline-flex;
			align-items: center;
		}
		&_second-company img:first-child {
			padding: 0px 9px 0px 0px;
		}
		&_third-company {
			display: inline-flex;
			align-items: center;
			padding: 0px 0px 0px 48px;
		}
		&_third-company img:first-child {
			padding: 0px 7px 0px 0px;
		}
	}
	// &__image {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	right: 0;
	// }
	&__cover {
		position: absolute;
		bottom: 0;
		right: -14%;
		z-index: 1;
	}
}

@media (max-width: 991px) {
	.main-block__cover {
		opacity: 0.3;
		width: auto;
	}
}


@media (max-width: 767px) {
	.main-block__body	{
		padding: 202px 0px 40px 0px;
	}
	.main-block__cover {
		left: -30%;
	}
	.main-block__title {
		font-size: 48px;
	}
	.main-block__companies {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.main-block__companies_first-company {
		margin: 10px;
		padding: 0;
	}
	.main-block__companies_second-company {
		margin: 10px;
		padding: 0;
	}
	.main-block__companies_third-company {
		margin: 10px;
		padding: 0;
	}
}

@media (max-width: 479px) {
	.main-block__cover {
		left: -60%;
	}
	.main-block__buttons {
		flex-direction: column;
	}
	.main-block__first-button {
		flex: 1 1 auto;
	}
	.main-block__second-button {
		flex: 1 1 auto;
		margin: 10px 0 0 0px;
	}
}
